
* {
    box-sizing: border-box;
}

body {
    color: black;
    /* background-color: white; */
    /* text-align: center; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    /* font-size: 25px; */
    /* max-width: 1400px; */
}

.pad {
    padding-top: 15px;
    padding-bottom: 15px;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}
footer {
    position: relative;
    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
    background-color: brown;
    color: white;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
}

.footer-info {
    padding: 0;
    max-width: 100%;
}

.home {
    background: url(../images/himalayas.png) no-repeat center center;
    background-size: cover;
    padding: 0;
    text-align: middle;
    height: 50vh;
    color: white;
    /* clear: both; */
}

.container {
    align-items: center;
}

.hidden-quote {
    /* display: none;  */
    padding-top: 160px;
    font-size: 30px;
}

.main-quote {
    text-align: center;
    /* margin: 0 auto; */
    font-size: 30px;
    font-style: italic;
    background-color:rgba(0,0,0,0.2);
    border: solid white ;
    clear: both;
    max-width: 65%;
    margin: 0 auto;
    vertical-align: middle;
    /* line-height: 20px; */
    padding: 3px;
}

.row {
    flex-direction: row;
}

.header {
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: right;
    /* border-bottom: solid  6px #ffc107; */
}

.header ul {
    padding: 0;
    margin: 0;
}

.header ul, li {
    display: inline;
    font-size: 25px;
    padding: 7px;
    margin: 5px, 5px;
}

.logo {
    width: 140px;
    height: auto;
}

.tom {
    /* height: 430px; */
    width: 100%;
}

.tom2 {
    width: 100%;
    /* height: 430px; */
    /* align-content: flex-end; */
}

.img-holder {
    overflow:hidden;
}

.img-holder, .img-holder img  {
    transition:transform 0.4s;
  }
  
.img-holder:hover {
    transform: scale(0.9);
  }
  
.img-holder:hover img {
    transform: scale(1.2);
  }

.title {
    text-align: center;
}

h2 {
    padding-bottom: 10px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: justify;
}

.read-more {
    display: none; 
}

span {
    color: blue;
    font-weight: bold;
}

.burger-span {
color: #184498;
}



button {
    /* font-size: 10px; */
    background-color: #184498;
    color: white;

}

/* .slick-dots {
    align-items: center;
    margin: 0 auto;
    padding: 0;
} */

.contact-btn {
    box-shadow: 5px rgba(0, 60, 255, 0.5);
    padding: 5px;
    background-color:#184498; 
    font-weight: 600;
    padding: 8px 15px;
    text-decoration: none;
    /* border-radius: 6px; */
    display: inline-block;
    color: white;
    border: solid 2px oldlace;
}

.map {
    max-width: 100%;
    margin-bottom: 5px;
}

.overlay {
    filter: grayscale(100%);
}

.contact-details {
    display: none;
    color: black;
    padding-top: 5px;
    /* transition: ease-in; */
}

input {
    padding: 2px 15px;
    margin-bottom: 13.3px;
    margin-left: 0;
    /* max-width: 70%; */
}

/* .email {
    min-width: 50%;
} */

/* .name-input {

} */

textarea {
    width: 100%;
    padding: 2px 15px;
    margin-bottom: 5px;
    margin-left: 0;
}

.interested-section {
    padding-left: 5px;
    padding-bottom: 10px;
}

.burger {
    font-size: 30px;
    display: none;
}

a {
    color: black;
}


.header nav ul li:hover {
    border-bottom: solid 4px black;
}

.header nav ul li::after {
    content: '';
    display: block;
    height: 4px;
    width: 0%;
    position: absolute;
    bottom: -10px;
    left: 0px;
    margin-left:50%;
    transition: width 0.4s, margin-left 0.4s;
}

.header nav ul li:hover::after {
    width:100%;
    margin-left:0%;
}

.header nav a {
    color:black;
    text-decoration: none;
}

.header nav .active {
    font-weight: 800;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

.main-quote, li {
    font-size: 20px;
}

p {
    font-size:15px;
}

h2 {
    font-size: 25px;
}

.home {
    height: 50vh;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
 
    .main-quote {
        font-size: 17.5px;
    }
    
    p {
        font-size:12.5px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    li {
        font-size: 17.5px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    .burger {
        font-size: 40px;
        display: block;
    }

    .header nav {
        background-color: rgb(202, 206, 216);
        position:absolute;
        top:113px;
        left:-301px;
        height:280px;
        padding: 20px;
        font-size: 30px;
        width: 150px;
        transition: left 0.4s;
        z-index: 99;
    }

    .header nav.open {
        left: 0px;
    }

    .burger {
        position: relative;
        transition: transform 0.6s;
    }

    .burger span:first-child {
        transition: opacity 0.6s;
    }

    .burger span:last-child {
        position: absolute;
        top:1px;
        left: 2px;
        opacity: 0;
        transition: opacity 0.6s;
    }

    .burger.open {
        transform: rotate(270deg);
    }    

    .burger.open span:first-child {
        opacity: 0;
    }

    .burger.open span:last-child {
        opacity: 1;
    }

    .header ul li {
        display: block;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 600px) {
    
    .hidden-quote {
        /* display: none;  */
        padding-top: 110px;
    }
    
    .main-quote {
        max-width: 100%;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

img {
    max-width: 100%;
    height: auto;
}
}

/* This will make sure images stay inside their responsive container */



.planter {
    position:absolute;
    bottom: 58px;
    /* left:-100px; */
    z-index:9999;
    pointer-events:none;
    width:190px;
    overflow: visible;
    /* display: none; */
  }


/* Slider */

.testimonials {
    /* background: url(../images/forest2.jpg) no-repeat center center; */
    background-size: cover;
    background-color:#184498; 
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: white;
}


.testimonials .quote {
    display:none;
}


.carousel {
    font-style: italic;
}

.quote {
    margin: 0 35px;
}

.slick-slider 
{
    position: relative;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    padding: 5px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index:999;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}
.slick-prev:before,
.slick-next:before {
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev{
    left: 1px;
}
.slick-prev:before {
    content: '\f137';
}
.slick-next{
    right: 1px;
}
.slick-next:before{
    content: '\f138';
}
/* Dots */
.slick-slider{
    margin-bottom: 30px;
}
.slick-dots{
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
}


  

